html,
body {
    margin: 0;
    background-color: #303030;
    color: white;
    min-height: 100vh;
}

#root,
html,
body {
    margin: 0;
    background-color: #303030;
    color: white;
    min-height: 100vh;
}
